/*body {
    background-color: linen;
 }
 h1 {
    color: maroon;
    margin-left: 40px;
 }
h3{
    font-family: Arial; 
    color: #ff00ff;
}

#output{
    font-family: Arial; 
    color: #ff110f;
}

.k1{
    font-family: fantasy; 
}

.k2{
    color: cornflowerblue;
}
*/